.Home{
    margin-top: 300px;
    margin: 100px 100px;
    border-color: #dd1a1a;
}

.Home_mensaje {
    font-size: 20px;
    font-family: Impact;
    font-style: italic;
    color: black;
}

.Home_img {
    width: min(400px, calc(100% -20px)) ;
    position: absolute;
    bottom: 15px;
    left: 10px;
}

.Home_greeting{
    font-size: 30px;
    color: red;
}

.Home_form {
    color: red;   
}

.Home_input {
    color: blue;
    font-size: 18px;   
}

.Home_buttom{
    padding: 6px 20px;
    font-size: 16px;
    border-radius: 4px;
    background-color:black;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    color: white;   

}

.Home_foot {
    height:100px ;
    background-color: #dd1a1a ;
    position: relative;
}