.Pokemon {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.pokemon_color {
  background-color: white;
}

.pokemon_stats-title {
display: flex;
flex-wrap: wrap;
margin-top: 25px;
gap: 10px;
font-style: inherit;
justify-content: center;
align-items: center;
text-transform: capitalize;
width: 80%;
min-width: 270px;
}

.pokemon_box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 18px;
}

.pokemon_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
  
}

.pokemon_rigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;
}

.box2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 80%;
   letter-spacing: 1px;
    gap:20px;

  }
  
  .box:last-child {
    margin-right: 0;
  }
  
  .pokemon_stats-title {
    text-align: center;
    margin-top: 35px;
  }

  .pokemon_title {
    display: flex;
    align-items: center;
    font-family: fantasy;
    font-weight: 300;
    font-size: 30px solid;
    margin-left: 20px;
}
  
.Pokemon_title0{
  font-family: sans-serif;
  font-size: 18px;
}


  .pokemon_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pokemon_button {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: Georgia;
    text-transform: capitalize;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 50px;
    background-color: rgb(124, 190, 240);
  }
  
.pokemon_stat-barGray {
    background-color: rgb(219, 219, 37);
    height: 25px;
}

.pokemon_stat-barProgress {
    background: linear-gradient(90deg, #c0ef05 -2.25%, #2ce344 133.18%);
    height: 25px;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pokemon_ability {
  display: flex;
  align-items: center;

    /* display: grid;
    grid-auto-columns: auto; */
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr ));
}

.pokemonPage {
    display: flex;
    align-items: center;
    color: red;
}

.pokemon_stats-info {
    align-items: center;
}


