.Pokedex_mensaje {
    font-style: italic solid;
    font-size: large;

}

.Pokedex_search{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium';
}

.Pokedex_pagina {
    display: grid;
    grid-auto-columns: auto;
    font-family: Helvetica;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr ));
}

.Pokedex_pagina1 {
    display: grid;
    grid-auto-columns: auto;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr ));
    cursor: pointer;
}

.Pokedex_numero {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    letter-spacing: 30px;
   cursor: pointer;
}

.Pokedex_button {
    cursor: pointer;
    color: white;
    background-color: red;
    padding: 7px 15px;
}